.background-image {
    background-image: url('../../assets/tunis.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 60vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar {
    display: flex;
    gap: 0;
    margin: 20px 0;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 0;
    border-right: 1px solid #ccc;
}

.search-bar input:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-bar input:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: none;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}