.create-ride-banner{
    background-color: rgba(35,178,111,1);
    height: 150px;
    margin-top: 80px;
    color: white;
    align-items: center;
    padding-left: 70px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.driverr p{
    color: #2641D6;
    font-size: 18px;
    font-weight: normal;
    padding-left: 70px;
}
.driverr p:nth-child(2){
    font-weight: bold;
    margin-top: 5px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}